In [2]:
import pickle
import json
import requests

In [3]:
import pandas as pd
from collections import Counter
import re
import spacy
from spacy.tokenizer import Tokenizer
from nltk.stem import PorterStemmer
import scattertext as st
from pprint import pprint

shops = pd.read_csv('C:\\Users\\lilyx\\DS-Unit-4-Sprint-1-NLP\\module1-text-data\\data\\yelp_coffeeshop_review_data.csv')

# splitty = lambda x: x['full_review_text'].split()[1:]
# shops['full_review_text'] = shops.apply(splitty, axis=1)

# jointty = lambda x: ' '.join(map(lambda x: str(x), x['full_review_text']))
# shops['full_review_text'] = shops.apply(jointty, axis=1)

lowercase = lambda x: str.lower(x['full_review_text'])
shops['full_review_text'] = shops.apply(lowercase, axis=1)

nlp = spacy.load("en_core_web_md")
tokenizer = Tokenizer(nlp.vocab)#breaks text, it creates character indexes instead of splitting words up

STOP_WORDS = nlp.Defaults.stop_words.union(['check-in','=','= =','male','u','want', 'u want', 'cuz','him',"i've", 'deaf','on', 'her','told','told him','ins', '1 check','I', 'i"m', 'i', ' ', 'it', "it's", 'it.','they','coffee','place','they', 'the', 'this','its', 'l','-','they','this','don"t','the ', ' the', 'it', 'i"ve', 'i"m', '!', '1','2','3','4', '5','6','7','8','9','0','/','.',','])
nlp.Defaults.stop_words |= {'check-in','=','= =','male','u','want', 'u want', 'cuz','him',"i've", 'deaf','on', 'her','told','told him','ins', '1 check','I', 'i"m', 'i', ' ', 'it', "it's", 'it.','they','coffee','place','they', 'the', 'this','its', 'l','-','they','this','don"t','the ', ' the', 'it', 'i"ve', 'i"m', '!', '1','2','3','4', '5','6','7','8','9','0','/','.',','}

In [4]:
# nlp.vocab["you"].is_stop

In [5]:
nlp.Defaults.stop_words.add("my_new_stopword")
nlp.Defaults.stop_words |= {"my_new_stopword1","my_new_stopword2",}
nlp.vocab["my_new_stopword"].is_stop

True

In [165]:
tokens = []

for doc in tokenizer.pipe(shops['full_review_text'], batch_size=800):
    
    doc_tokens = []
    
    for token in doc: 
        if token.text not in STOP_WORDS:
            doc_tokens.append(token.text.lower())
   
    tokens.append(doc_tokens)
    
shops['tokens'] = tokens

jointty = lambda x: ' '.join(map(lambda x: str(x), x['tokens']))
shops['joined_tokens'] = shops.apply(jointty, axis=1)

corpus = st.CorpusFromPandas(shops, 
                             category_col='star_rating', 
                             text_col='joined_tokens',
                             nlp=nlp).build()

term_freq_df = corpus.get_term_freq_df()
term_freq_df['highratingscore'] = corpus.get_scaled_f_scores(' 5.0 star rating ')

term_freq_df['poorratingscore'] = corpus.get_scaled_f_scores(' 1.0 star rating ')

term_freq_df.sort_values(by= 'poorratingscore', ascending = False)

,5.0 star rating freq,4.0 star rating freq,2.0 star rating freq,3.0 star rating freq,1.0 star rating freq,highratingscore,poorratingscore
term,,,,,,,
particularly fabulous,0,0,0,0,8,0.345617,1.000000e+00
milk splendas,0,0,0,0,6,0.385138,9.998425e-01
understand business,0,0,0,0,6,0.385138,9.998425e-01
splendas,0,0,0,1,6,0.365154,9.998321e-01
cancelled order,0,0,0,1,6,0.365154,9.998321e-01
policies,1,0,0,0,6,0.397698,9.998321e-01
understanding,1,0,0,2,7,0.336183,9.997836e-01
cancelled,0,0,1,1,6,0.345617,9.997572e-01
haired,1,1,1,1,6,0.336183,9.988436e-01
's website,0,0,0,0,5,0.405531,9.985329e-01
shell shocked,0,0,0,0,5,0.405531,9.985329e-01
rudest,0,0,0,0,5,0.405531,9.985329e-01
overpriced food,0,0,0,1,5,0.385138,9.985158e-01
large drink,1,0,0,0,5,0.419897,9.985158e-01
philz,5,1,0,0,8,0.378566,9.984911e-01
stay away,1,1,0,0,5,0.397698,9.983726e-01
4/26/2015,1,0,0,1,5,0.397698,9.983726e-01
rudely,0,0,2,0,5,0.365154,9.983726e-01
paying customers,0,0,0,2,5,0.365154,9.983726e-01
mozarts,2,0,0,0,5,0.435446,9.983726e-01
matt,5,2,0,0,9,0.336359,9.982904e-01
horribly,1,0,1,1,5,0.376443,9.978477e-01
inconvenience,1,0,1,4,7,0.280751,9.976126e-01
shocked,3,3,0,1,8,0.298408,9.974550e-01
angus,3,1,0,0,5,0.425118,9.966538e-01
asked wanted,1,2,3,0,6,0.298585,9.959196e-01
tipped,1,0,1,4,6,0.298585,9.959196e-01
requested,2,1,1,2,6,0.326720,9.959196e-01
refund,2,0,2,1,5,0.367095,9.946172e-01
n't waste,1,0,1,3,5,0.336183,9.946172e-01
...,...,...,...,...,...,...,...
couches,56,52,1,15,0,0.857897,1.471870e-04
folks,67,45,6,8,0,0.893382,1.173463e-04
moon milk,86,37,2,2,0,0.942036,1.046484e-04
cortado,71,37,9,16,0,0.894222,5.173552e-05
modern,61,49,9,15,0,0.859756,4.587137e-05
beers,74,51,1,10,0,0.898263,3.597233e-05
boba,54,65,8,10,0,0.116200,3.181573e-05
strawberry,76,44,5,13,0,0.900804,2.811610e-05
heart,89,41,2,8,0,0.929979,2.190281e-05
roasted,82,39,11,9,0,0.912125,1.930771e-05
milk tea,57,67,12,7,0,0.118376,1.496613e-05
book,79,58,1,10,0,0.894205,7.802384e-06
baked goods,62,66,7,20,0,0.119062,3.026684e-06
halcyon,57,67,15,19,0,0.100479,1.991877e-06
live music,82,57,8,15,0,0.882845,1.126920e-06
waffles,97,55,1,10,0,0.916822,9.753029e-07
cinnamon,72,77,13,11,0,0.127241,2.195440e-07
creamy,103,63,3,14,0,0.905358,4.542570e-08
goods,81,71,9,23,0,0.852482,3.862443e-08
located,75,89,7,16,0,0.119591,2.362323e-08
play,99,72,3,14,0,0.891321,2.001843e-08
ins listed,83,91,2,17,0,0.134499,8.637079e-09
waffle,117,56,4,21,0,0.915387,3.648381e-09
ambiance,80,74,10,34,0,0.121073,3.648381e-09
smooth,133,63,5,15,0,0.923682,1.375207e-10
unique,129,91,1,19,0,0.895677,1.130984e-12
variety,133,99,4,14,0,0.893495,1.322831e-13
art,158,72,19,10,0,0.921824,1.765255e-14
fan,116,124,17,18,0,0.130162,2.775558e-16
outlets,101,141,8,30,0,0.100459,0.000000e+00

In [166]:
ds = term_freq_df.sort_values(by= 'highratingscore', ascending = False)
ds = ds[['highratingscore', 'poorratingscore']]
ds = ds.head(150)
ds.drop(index=['= =','=',"anderson 's",'love love'], inplace = True)
ds.head(5)

             highratingscore  poorratingscore
term
best gelato         0.995306         0.085748
venezia             0.989565         0.061685
coast               0.986313         0.081303
italy               0.983864         0.023918
incredible          0.977603         0.019162

In [169]:
ds['highratingscore'] = round(ds['highratingscore'], 2)
ds['poorratingscore'] = round(ds['poorratingscore'], 2)
ds.head(5)

             highratingscore  poorratingscore
term
best gelato             1.00             0.09
venezia                 0.99             0.06
coast                   0.99             0.08
italy                   0.98             0.02
incredible              0.98             0.02

In [155]:
di = {highratingterms:[],poorratingterms:[]}
for i in df.index[:10]:
    list1.append(i)
print(di)

NameError: name 'highratingterms' is not defined

In [170]:
ds.shape

(146, 2)

In [156]:
df = ds

In [42]:
df.head(4)

             highratingscore  poorratingscore
term
best gelato             1.00             0.09
venezia                 0.99             0.06
coast                   0.99             0.08
italy                   0.98             0.02

In [172]:
len(ds.index)
for i in ds.index: 
    if ' ' in i:
        ds = ds.drop([i])
len(ds.index)

105

In [173]:
indexlist = []
rowlist = []
for index, row in df.head(n=2).iterrows():
    indexlist.append(index)
    rowlist.append(row)
    A = dict(zip(indexlist, rowlist))
print(A)

{0: term               best gelato
highratingscore              1
poorratingscore           0.09
Name: 0, dtype: object, 1: term               venezia
highratingscore       0.99
poorratingscore       0.06
Name: 1, dtype: object}

In [80]:
len(df)

146

In [ ]:
df.to_dict()

In [124]:
keylist = []
wordlist = []
highlist = []
poorlist = []
valuelist = []
keylistterms = 'term','highratingscore','poorratingscore'
for i in df.index:
    wordlist.append(i)
# print(wordlist)
for row in df.itertuples():
    highlist.append(row[1])
    poorlist.append(row[2])
# print(highlist, poorlist)
for i in range(len(df)):
    for i in keylistterms:
        keylist.append(i)
# print(keylist)
#return keylist
for i in zip(wordlist,highlist, poorlist):
    valuelist.append(i[0])
    valuelist.append(i[1])
    valuelist.append(i[2])
#     return valuelist
# print(valuelist)
# for i in range(len(df)):
#     for i in zip(wordlist,highlist, poorlist):
#         valuelist.append(i[0])
#         valuelist.append(i[1])
#         valuelist.append(i[2])
# print(valuelist)

for i in range(len(df)):
jsonDictionary = dict(zip(list(keylist), valuelist))
print(jsonDictionary)
# from itertools import izip
# mydict = {key:value for key, value in zip(keylist, valuelist)}
# print(mydict[5])

{'term': 'secret', 'highratingscore': 0.92, 'poorratingscore': 0.08}

In [ ]:
json = df.to_json(orient='table')
json = json.replace('{"schema": {"fields":[{"name":"term","type":"string"},{"name":"highratingscore","type":"number"},{"name":"poorratingscore","type":"number"}],"primaryKey":["term"],"pandas_version":"0.20.0"}, "data": [','')
json = json.replace(']}','')
json

In [146]:
df.head(2)

             highratingscore  poorratingscore
term
best gelato             1.00             0.09
venezia                 0.99             0.06

In [157]:
df = df.reset_index(drop=False)
df.head(2)

          term  highratingscore  poorratingscore
0  best gelato             1.00             0.09
1      venezia             0.99             0.06

In [141]:
# df.reindex
df.to_dict('records')

AttributeError: 'function' object has no attribute 'reindex'

In [22]:
df = ds

# di = {'term':'none','highratingscore':0.00,'poorratingscore':0.00}

list1 = []
for i in df.index[:10]:
    list1.append(i)
print(list1)
A = dict(zip['term','highratingscore','poorratingscore'], list1)
print(A)

['best gelato', 'venezia', 'coast', 'italy', 'incredible', 'sara', 'pound', 'passion', 'pistachio', 'love place']
{'term': 'best gelato', 'highratingscore': 'venezia', 'poorratingscore': 'coast'}

In [10]:
ds.to_json(r'termFrequenciesCondensed.json', orient='table')

In [44]:
pickle.dump(model, open('termFrequenciesCondensed.pkl', 'wb'))

NameError: name 'model' is not defined

In [158]:
yelp_url = 'https://www.yelp.com/biz/amÃ©lie-new-york?osq=French+Restaurants'

base_url = "https://www.yelp.com/biz/" # add business id
api_url = "/review_feed?sort_by=date_desc&start="
#     bid = "flower-child-addison-2" # business id for testing purposes
bid = yelp_url.replace('https://www.yelp.com/biz/','')
if '?osq=Restaurants' in yelp_url:
    bid = yelp_url.replace(yelpurl[],'')
print(yelp_url)
print a.split("!")[0]

https://www.yelp.com/biz/amÃ©lie-new-york?osq=French+Restaurants

In [159]:
a = 'https://www.yelp.com/biz/amÃ©lie-new-york?osq=French+Restaurants'
a.split('?')[0]

'https://www.yelp.com/biz/amÃ©lie-new-york'

In [161]:
yelp_url = 'https://www.yelp.com/biz/future-you-cafÃ©-new-york'
    
base_url = "https://www.yelp.com/biz/" # add business id
api_url = "/review_feed?sort_by=date_desc&start="
#     bid = "flower-child-addison-2" # business id for testing purposes
bid = yelp_url.replace('https://www.yelp.com/biz/','')
if '?' in yelp_url:
    bid = yelp_url.split('?')[0]
    
print(bid)

future-you-cafÃ©-new-york

In [162]:

    
yelp_url = 'https://www.yelp.com/biz/gastro-at-35-bar-and-restaurant-new-york'
    
base_url = "https://www.yelp.com/biz/" # add business id
api_url = "/review_feed?sort_by=date_desc&start="
#     bid = "flower-child-addison-2" # business id for testing purposes
bid = yelp_url.replace('https://www.yelp.com/biz/','')
if '?' in yelp_url:
    bid = yelp_url.split('?')[0]
    
print(bid)

gastro-at-35-bar-and-restaurant-new-york